<span><%= link_to 'Edit your profile', edit_profile_path if signed_in? && current_user.try(:admin?) %></span>
<% if @profile %>
  <h1><%= @profile.full_name %></h1>
  <div>
    <%= @profile.bio.html_safe %>

<% else %>
  <span>No profile defined..</span>

<% end %>
