<!-- highlighted articles -->
<% if @highlighted_articles.length > 0 %>
  <div class="posts">
      <h1 class="content-subhead">Highlighed Articles</h1>
      <% @highlighted_articles.reverse_each do |article| %>
        <%= render article %>
    <% end %>
  </div>
<% end %>


<!-- all articles -->
<div class="posts">
  <h1 class="content-subhead">Recent Articles</h1>
  <% @articles.reverse_each do |article| %>
      <%= render article %>
  <% end %>
</div>
